@charset "utf-8";
div, span, body, header, nav, main, section, article, footer, ul, li, ol {
	margin: 0;
	padding: 0;	
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}

body {
	user-select: none;
	width: 100%;
	overflow-x: hidden;
}
header {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: rgb(90, 98, 85);
}
header > h1 > a {
	text-decoration: none;
	color: white;
}
header > .loginInfo {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: white;
}
nav {
	background-color: white;
	position: fixed;
	top: 100px;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid rgb(90, 98, 85);
	display: flex;
	justify-content: center;
}
nav > ul {
	list-style: none;
	display: flex;
	justify-content: center;
}
nav > ul > li {
	display: flex;
	width: 200px;
	height: 50px;
	justify-content: center;
	align-items: center;
	font-size: 12pt;
	font-weight: bold;
}
main {
	padding-top: 175px;
	display: flex;
	flex-flow: column;
	align-items: center;
	min-height: 700px;
	
}
footer {
	padding: 20px;
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: center;
	align-items: flex-end;
	font-size: 9pt;
	font-weight: bold;	
}
div.vbox {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
div.hbox {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}
.w1200 {
	width: 1200px;
}
.h500 {
	min-height: 500px;
}
div.sb {
	justify-content: space-between;
}
div.fs {
	justify-content: flex-start;
}
div.fe {
	justify-content: flex-end;
}
div.boda {
	border: 1px solid #dadada;
	padding: 10px;
	width: 1180px;
	margin: 5px;
}
input[type="text"],
input[type="password"], 
select, 
textarea {
	all: unset;
	padding: 5px;
	border-bottom: 2px solid black;
}
select {
	border: 2px solid black;
}
.btn {
	background-color: #dadada;
	color: black;
	font-weight: bold;
	cursor: pointer;
	padding: 10px;
	border: 0;
}
.btn:hover {
	background-color: black;
	color: white;
}
h2 {
	text-align: center;
}
label {
	margin: 5px;
}






